AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_BASE_URL=https://example.com/samenwerkfunctionaliteit
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_CERTIFICATE=123456
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_OIN_NUMMER=123456
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_GATEWAY_ENDPOINT=/samenwerkfunctionaliteit/v5/**