AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKINGFUNCTIONALITEIT_BASE_URL=https://example.com/samenwerkfunctionaliteit
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKINGFUNCTIONALITEIT_CERTIFICATE=123456
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKINGFUNCTIONALITEIT_OIN_NUMMER=123456